<tna-breadcrumb [pageTitle]="content?.pageTitle" [pageDescription]="content?.pageDescription" [currentLocation]="content?.currentLocation"></tna-breadcrumb>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <div class="section-title">
              <span class="zoomIn" data-aos="fade-up">Verification</span>
              <h2 class="fadeInUp" data-aos="fade-up">Verify Your Email</h2>
              <p class="fadeInUp" data-aos="fade-up">A link has been sent to <b>{{content.email}}</b>. Please go verify your email, then you will be redirected back to Team Noxious to login.</p>
          </div>
      </div>
  </div>
  </div>
</section>
