<!-- Start Error Area -->
<div class="error-area">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="error-content">
                  <h1>404</h1>
                  <h2>Oops! That page can’t be found</h2>
                  <p>The page you are looking for it maybe deleted</p>
                  <div class="button">
                      <a (click)="navigateTo('home')" class="btn">Go To Home</a>
                      <a (click)="navigateTo('contact')" class="btn alt">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Error Area -->
