<!-- Start Hero Area -->
<section class="hero-area style2">
  <!-- Single Slider -->
  <div class="hero-inner">
      <div class="container">
          <div class="row ">
              <div class="col-lg-6 co-12">
                  <div class="home-slider">
                    <canvas></canvas>

                      <div class="hero-text">
                          <h5 class="" data-aos="fade-up">Start to learning today</h5>
                          <h1 class="" data-aos="fade-up">We can help <span>you
                                  unlock</span><br> Your full <span>potential.</span></h1>
                          <p class="" data-aos="fade-up">Lorem Ipsum is simply dummy text of the
                              printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                              <br>dummy text ever since.</p>
                          <div class="button style2 " data-aos="fade-up">
                              <a href="javascript:void(0)" class="btn"><i class="lni lni-download"></i> Download
                                  free guide</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->

<!-- Start Features Area -->
<section class="features style2">
  <div class="container-fluid">
      <div class="single-head">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-12 padding-zero">
                  <!-- Start Single Feature -->
                  <div class="single-feature">
                      <h3><a href="javascript:void(0)">Feature One</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae
                          nulla debitis vitae.</p>
                      <div class="button">
                          <a href="javascript:void(0)" class="btn">Start Here <i
                                  class="lni lni-arrow-right"></i></a>
                      </div>
                  </div>
                  <!-- End Single Feature -->
              </div>
              <div class="col-lg-3 col-md-6 col-12 padding-zero">
                  <!-- Start Single Feature -->
                  <div class="single-feature">
                      <h3><a href="javascript:void(0)">Feature Two</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae
                          nulla debitis vitae.</p>
                      <div class="button">
                          <a href="javascript:void(0)" class="btn">Start Here <i
                                  class="lni lni-arrow-right"></i></a>
                      </div>
                  </div>
                  <!-- End Single Feature -->
              </div>
              <div class="col-lg-3 col-md-6 col-12 padding-zero">
                  <!-- Start Single Feature -->
                  <div class="single-feature">
                      <h3><a href="javascript:void(0)">Feature Three</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae
                          nulla debitis vitae.</p>
                      <div class="button">
                          <a href="javascript:void(0)" class="btn">Start Here <i
                                  class="lni lni-arrow-right"></i></a>
                      </div>
                  </div>
                  <!-- End Single Feature -->
              </div>
              <div class="col-lg-3 col-md-6 col-12 padding-zero">
                  <!-- Start Single Feature -->
                  <div class="single-feature last">
                      <h3><a href="javascript:void(0)">Feature Four</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae
                          nulla debitis vitae.</p>
                      <div class="button">
                          <a href="javascript:void(0)" class="btn">Start Here <i
                                  class="lni lni-arrow-right"></i></a>
                      </div>
                  </div>
                  <!-- End Single Feature -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- /End Features Area -->

<!-- Start Experience Area -->
<section class="experience section">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-12">
              <div class="left-content">
                  <div class="exp-title align-left">
                      <span class="fadeInDown" data-aos="fade-up">Some Facts About Us.</span>
                      <h2 class="fadeInUp" data-aos="fade-up">We help individuals to become <br>their best
                          version.</h2>
                      <p class="fadeInUp" data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit, do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut
                          enim ad min im veniam, quis nostrud exercitati ullamco laboris nisi ut aliquip ex ea
                          commodo consequat.</p>
                      <div class="button fadeInUp" data-aos="fade-up">
                          <a routerLink="/about" class="btn">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-12">
              <div class="image fadeInRight" data-aos="fade-up">
                  <img src="https://via.placeholder.com/540x570" alt="#">
                  <h2>20+ <span class="year">years</span> <span class="work">Work Experience</span></h2>
              </div>
          </div>
      </div>
      <!-- Mini Call To Action -->
      <div class="cta-mini">
          <div class="row">
              <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                  <p>Become part of a dedicated community, run by. Earn a certification for
                      your effort and passion <a href="javascript:void(0)">Get Free Guide </a> </p>
              </div>
          </div>
      </div>
      <!-- End Mini Call To Action -->
  </div>
</section>
<!-- /End Experience Area -->

<!-- Start Achivement Area -->
<section class="our-achievement section overlay">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-12">
              <div class="single-achievement fadeInUp" data-aos="fade-up">
                  <h3 class="counter"><span id="secondo1" class="countup" cup-end="500">500</span>+</h3>
                  <h4>Happy Clients</h4>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
              <div class="single-achievement fadeInUp" data-aos="fade-up">
                  <h3 class="counter"><span id="secondo2" class="countup" cup-end="70">70</span>+</h3>
                  <h4>Online Courses</h4>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
              <div class="single-achievement fadeInUp" data-aos="fade-up">
                  <h3 class="counter"><span id="secondo3" class="countup" cup-end="100">100</span>%</h3>
                  <h4>Satisfaction</h4>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12">
              <div class="single-achievement fadeInUp" data-aos="fade-up">
                  <h3 class="counter"><span id="secondo3" class="countup" cup-end="100">100%</span>%</h3>
                  <h4>Support</h4>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Achivement Area -->

<!-- Start Courses Area -->
<section class="courses style2 section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <span class="zoomIn" data-aos="fade-up">Online Learning</span>
                  <h2 class="fadeInUp" data-aos="fade-up">Recent Online Courses</h2>
                  <p class="fadeInUp" data-aos="fade-up">There are many variations of passages of Lorem
                      Ipsum available, but the majority have suffered alteration in some form.</p>
              </div>
          </div>
      </div>
      <div class="single-head">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                  <!-- Start Single Course -->
                  <div class="single-course fadeInUp" data-aos="fade-up">
                      <div class="course-image">
                          <a href="course-details.html"><img src="https://via.placeholder.com/370x230"
                                  alt="#"></a>
                      </div>
                      <div class="content">
                          <p class="price">$180</p>
                          <p class="date">JAN 15, 2023</p>
                          <h3><a href="course-details.html">Learning to Write as a Professional Author</a></h3>
                      </div>
                  </div>
                  <!-- End Single Course -->
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                  <!-- Start Single Course -->
                  <div class="single-course fadeInUp" data-aos="fade-up">
                      <div class="course-image">
                          <a href="course-details.html"><img src="https://via.placeholder.com/370x230"
                              alt="#"></a>
                      </div>
                      <div class="content">
                          <p class="price">$250</p>
                          <p class="date">JAN 10, 2023</p>
                          <h3><a href="course-details.html">Customer-centric Info-Tech Strategies</a></h3>
                      </div>
                  </div>
                  <!-- End Single Course -->
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                  <!-- Start Single Course -->
                  <div class="single-course fadeInUp" data-aos="fade-up">
                      <div class="course-image">
                          <a href="course-details.html"><img src="https://via.placeholder.com/370x230"
                              alt="#"></a>
                      </div>
                      <div class="content">
                          <p class="price">Free</p>
                          <p class="date">JAN 05, 2023</p>
                          <h3><a href="course-details.html">Open Programming Courses for Everyone.</a></h3>
                      </div>
                  </div>
                  <!-- End Single Course -->
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                  <!-- Start Single Course -->
                  <div class="single-course fadeInUp" data-aos="fade-up">
                      <div class="course-image">
                          <a href="course-details.html"><img src="https://via.placeholder.com/370x230"
                              alt="#"></a>
                      </div>
                      <div class="content">
                          <p class="price">$300</p>
                          <p class="date">FEb 10, 2023</p>
                          <h3><a href="course-details.html">Best Free Web Design Courses & Tutorials Online</a></h3>
                      </div>
                  </div>
                  <!-- End Single Course -->
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                  <!-- Start Single Course -->
                  <div class="single-course fadeInUp" data-aos="fade-up">
                      <div class="course-image">
                          <a href="course-details.html"><img src="https://via.placeholder.com/370x230"
                              alt="#"></a>
                      </div>
                      <div class="content">
                          <p class="price">Free</p>
                          <p class="date">MAR 05, 2023</p>
                          <h3><a href="course-details.html">Full Free Professional Graphics Design Course.</a></h3>
                      </div>
                  </div>
                  <!-- End Single Course -->
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                  <!-- Start Single Course -->
                  <div class="single-course fadeInUp" data-aos="fade-up">
                      <div class="course-image">
                          <a href="course-details.html"><img src="https://via.placeholder.com/370x230"
                              alt="#"></a>
                      </div>
                      <div class="content">
                          <p class="price">$199</p>
                          <p class="date">NOV 05, 2023</p>
                          <h3><a href="course-details.html">Online Digital Marketing Video Courses</a></h3>
                      </div>
                  </div>
                  <!-- End Single Course -->
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="button">
                      <a href="courses-grid.html" class="btn">browsing all courses</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Courses Area -->

<!-- Start Teachers -->
<section id="teachers" class="teachers section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title align-center gray-bg">
                  <span class="zoomIn" data-aos="fade-up">Teachers</span>
                  <h2 class="fadeInUp" data-aos="fade-up">Our Experienced Advisors</h2>
                  <p class="fadeInUp" data-aos="fade-up">There are many variations of passages of Lorem
                      Ipsum available, but the majority have suffered alteration in some form.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <!-- Single Team -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-team fadeInUp" data-aos="fade-up">
                  <div class="row">
                      <div class="col-lg-5 col-12">
                          <!-- Image -->
                          <div class="image">
                              <img src="https://via.placeholder.com/800x1020" alt="#">
                          </div>
                          <!-- End Image -->
                      </div>
                      <div class="col-lg-7 col-12">
                          <div class="info-head">
                              <!-- Info Box -->
                              <div class="info-box">
                                  <span class="designation">Math Teacher</span>
                                  <h4 class="name"><a href="teacher-details.html">Selena Gomez</a></h4>
                                  <p>Your chance to be a trending expert in IT industries and make a successful
                                      career completion.</p>
                              </div>
                              <!-- End Info Box -->
                              <!-- Social -->
                              <ul class="social">
                                  <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a>
                                  </li>
                              </ul>
                              <!-- End Social -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Team -->
          <!-- Single Team -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-team fadeInUp" data-aos="fade-up">
                  <div class="row">
                      <div class="col-lg-5 col-12">
                          <!-- Image -->
                          <div class="image">
                              <img src="https://via.placeholder.com/800x1020" alt="#">
                          </div>
                          <!-- End Image -->
                      </div>
                      <div class="col-lg-7 col-12">
                          <div class="info-head">
                              <!-- Info Box -->
                              <div class="info-box">
                                  <span class="designation">Professor</span>
                                  <h4 class="name"><a href="teacher-details.html">Michel Vouge</a></h4>
                                  <p>Your chance to be a trending expert in IT industries and make a successful
                                      career completion.</p>
                              </div>
                              <!-- End Info Box -->
                              <!-- Social -->
                              <ul class="social">
                                  <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a>
                                  </li>
                              </ul>
                              <!-- End Social -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Team -->
          <!-- Single Team -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-team fadeInUp" data-aos="fade-up">
                  <div class="row">
                      <div class="col-lg-5 col-12">
                          <!-- Image -->
                          <div class="image">
                              <img src="https://via.placeholder.com/800x1020" alt="#">
                          </div>
                          <!-- End Image -->
                      </div>
                      <div class="col-lg-7 col-12">
                          <div class="info-head">
                              <!-- Info Box -->
                              <div class="info-box">
                                  <span class="designation">English Teacher</span>
                                  <h4 class="name"><a href="teacher-details.html">Jen Maroney</a></h4>
                                  <p>Your chance to be a trending expert in IT industries and make a successful
                                      career completion.</p>
                              </div>
                              <!-- End Info Box -->
                              <!-- Social -->
                              <ul class="social">
                                  <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a>
                                  </li>
                              </ul>
                              <!-- End Social -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Team -->
          <!-- Single Team -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-team fadeInUp" data-aos="fade-up">
                  <div class="row">
                      <div class="col-lg-5 col-12">
                          <!-- Image -->
                          <div class="image">
                              <img src="https://via.placeholder.com/800x1020" alt="#">
                          </div>
                          <!-- End Image -->
                      </div>
                      <div class="col-lg-7 col-12">
                          <div class="info-head">
                              <!-- Info Box -->
                              <div class="info-box">
                                  <span class="designation">Programmer</span>
                                  <h4 class="name"><a href="teacher-details.html">Cindy Chow</a></h4>
                                  <p>Your chance to be a trending expert in IT industries and make a successful
                                      career completion.</p>
                              </div>
                              <!-- End Info Box -->
                              <!-- Social -->
                              <ul class="social">
                                  <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                  </li>
                                  <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a>
                                  </li>
                              </ul>
                              <!-- End Social -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Team -->
      </div>
  </div>
</section>
<!--/ End Teachers Area -->

<!-- Start Testimonials Area -->
<section class="testimonials style2 section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title align-center gray-bg">
                  <span class="zoomIn" data-aos="0fade-up">Testimonials</span>
                  <h2 class="fadeInUp" data-aos="fade-up">What Our Students Say</h2>
                  <p class="fadeInUp" data-aos="fade-up">There are many variations of passages of Lorem
                      Ipsum available, but the majority have suffered alteration in some form.</p>
              </div>
          </div>
      </div>
      <div class="row testimonial-slider">
          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>

          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
              <!-- Start Single Testimonial -->
              <div class="single-testimonial">
                  <div class="text">
                      <p>"It’s amazing how much easier it has been to meet new people and create instant
                          connections. I have the exact same personality, the only thing that has changed is my
                          mindset and a few behaviors."</p>
                  </div>
                  <div class="author">
                      <img src="https://via.placeholder.com/300x300" alt="#">
                      <h4 class="name">
                          Jane Anderson
                          <span class="deg">Founder & CEO</span>
                      </h4>
                  </div>
              </div>
              <!-- End Single Testimonial -->
          </div>
      </div>
  </div>
</section>
<!-- End Testimonial Area -->

<!-- Start Work Process Area -->
<section class="work-process section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3 col-12">
              <div class="section-title align-center gray-bg">
                  <h2 class="fadeInUp" data-aos="fade-up">How it works?</h2>
                  <p class="fadeInUp" data-aos="fade-up">There are many variations of passages of Lorem
                      Ipsum available, but the majority have suffered alteration in some form.</p>
              </div>
          </div>
      </div>
      <div class="list">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                  <ul class="fadeInUp" data-aos="fade-up">
                      <li>
                          <span class="serial">1</span>
                          <p class="content">
                              <span>Schedule a meeting</span>
                              Lorem ipsum dolor sit amet, mea ei viderer probatus consequuntur, sonet vocibus
                              lobortis has ad.
                          </p>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                  <ul class="fadeInUp" data-aos="fade-up">
                      <li>
                          <span class="serial">2</span>
                          <p class="content">
                              <span>Make a decision</span>
                              Lorem ipsum dolor sit amet, mea ei viderer probatus consequuntur, sonet vocibus
                              lobortis has ad.
                          </p>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                  <ul class="fadeInUp" data-aos="fade-up">
                      <li>
                          <span class="serial">3</span>
                          <p class="content">
                              <span>Transformation Completed</span>
                              Lorem ipsum dolor sit amet, mea ei viderer probatus consequuntur, sonet vocibus
                              lobortis has ad.
                          </p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- /End Work Process Area -->

<!-- Start Newsletter Area -->
<section class="newsletter-area style2 section">
  <div class="container">
      <div class="row ">
          <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
              <div class="newsletter-title">
                  <i class="lni lni-envelope"></i>
                  <h2>Get our latest updates</h2>
                  <p>Subscribe to us to always stay in touch with us and get the latest news<br>
                      about our company and all of our activities!</p>
              </div>
              <!-- Start Newsletter Form -->
              <div class="subscribe-text fadeInUp" data-aos="fade-up">
                  <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                      <input name="EMAIL" placeholder="Your email address" class="common-input"
                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                          required="" type="email">
                      <div class="button">
                          <button class="btn">Subscribe</button>
                      </div>
                  </form>
              </div>
              <!-- End Newsletter Form -->
          </div>
      </div>
  </div>
</section>
<!-- /End Newsletter Area -->

<!-- Start Call To Action Area -->
<section class="call-action style2 section overlay">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-8 col-md-8 col-12">
              <div class="call-content">
                  <h2>Ready to dive in? <br>Start your free trial today.</h2>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
              <div class="call-content">
                  <div class="button">
                      <a href="javascript:void(0)" class="btn">Get Started for Free</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- /End Call To Action Area -->

<!-- Start Latest News Area -->
<div class="latest-news-area style2 section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <span class="zoomIn" data-aos="0fade-up">Blogs</span>
                  <h2 class="fadeInUp" data-aos="fade-up">Latest News & Blog</h2>
                  <p class="fadeInUp" data-aos="fade-up">There are many variations of passages of Lorem
                      Ipsum available, but the majority have suffered alteration in some form.</p>
              </div>
          </div>
      </div>
      <div class="single-head">
          <div class="row">
              <div class="col-lg-3 col-md-12 col-12">
                  <!-- Single News -->
                  <div class="single-news fadeInUp" data-aos="fade-up">
                      <div class="image">
                          <a href="blog-single-sidebar.html"><img class="thumb"
                                  src="https://via.placeholder.com/270x200" alt="#"></a>
                      </div>
                      <div class="content-body">
                          <div class="meta-data">
                              <ul>
                                  <li>
                                      <i class="lni lni-tag"></i>
                                      <a href="javascript:void(0)">Online Courses</a>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="title"><a href="blog-single-sidebar.html">How to Study Online Courses
                                  Effectively</a></h4>
                      </div>
                  </div>
                  <!-- End Single News -->
                  <!-- Single News -->
                  <div class="single-news fadeInUp" data-aos="fade-up">
                      <div class="image">
                          <a href="blog-single-sidebar.html"><img class="thumb"
                                  src="https://via.placeholder.com/270x200" alt="#"></a>
                      </div>
                      <div class="content-body">
                          <div class="meta-data">
                              <ul>
                                  <li>
                                      <i class="lni lni-tag"></i>
                                      <a href="javascript:void(0)">Online Education</a>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="title"><a href="blog-single-sidebar.html">How to Become a Better Blogger</a>
                          </h4>
                      </div>
                  </div>
                  <!-- End Single News -->
              </div>
              <div class="col-lg-6 col-md-12 col-12">
                  <!-- Single News -->
                  <div class="single-news big custom-shadow-hover fadeInUp" data-aos="fade-up">
                      <div class="image">
                          <a href="blog-single-sidebar.html"><img class="thumb"
                                  src="https://via.placeholder.com/500x390" alt="#"></a>
                      </div>
                      <div class="content-body">
                          <div class="meta-data">
                              <ul>
                                  <li>
                                      <i class="lni lni-tag"></i>
                                      <a href="javascript:void(0)">Learning Strategies</a>
                                  </li>
                                  <li>
                                      <i class="lni lni-calendar"></i>
                                      <a href="javascript:void(0)">January 10, 2023</a>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="title"><a href="blog-single-sidebar.html">Five Essential Online Learning
                                  Strategies</a></h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                              Ipsum
                              has been the industry's.</p>
                          <div class="button">
                              <a href="blog-single-sidebar.html" class="btn">Read More</a>
                          </div>
                      </div>
                  </div>
                  <!-- End Single News -->
              </div>
              <div class="col-lg-3 col-md-12 col-12">
                  <!-- Single News -->
                  <div class="single-news fadeInUp" data-aos="fade-up">
                      <div class="image">
                          <a href="blog-single-sidebar.html"><img class="thumb"
                                  src="https://via.placeholder.com/270x200" alt="#"></a>
                      </div>
                      <div class="content-body">
                          <div class="meta-data">
                              <ul>
                                  <li>
                                      <i class="lni lni-tag"></i>
                                      <a href="javascript:void(0)">Learning Strategies</a>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="title"><a href="blog-single-sidebar.html">Five Essential Online Learning
                                  Strategies</a></h4>
                      </div>
                  </div>
                  <!-- End Single News -->
                  <!-- Single News -->
                  <div class="single-news fadeInUp" data-aos="fade-up">
                      <div class="image">
                          <a href="blog-single-sidebar.html"><img class="thumb"
                                  src="https://via.placeholder.com/270x200" alt="#"></a>
                      </div>
                      <div class="content-body">
                          <div class="meta-data">
                              <ul>
                                  <li>
                                      <i class="lni lni-tag"></i>
                                      <a href="javascript:void(0)">Programming</a>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="title"><a href="blog-single-sidebar.html">Learn Programming in 30 Days</a>
                          </h4>
                      </div>
                  </div>
                  <!-- End Single News -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Latest News Area -->

<!-- Start Clients Area -->
<div class="client-logo-section">
  <div class="container">
      <div class="client-logo-wrapper">
          <div class="client-logo-carousel d-flex align-items-center justify-content-between">
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
              <div class="client-logo">
                  <img src="https://via.placeholder.com/230x95" alt="#">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Clients Area -->
