@import "node_modules/ngx-chips/core/styles/core/_core.scss";

$noxious-primary: $team-noxious;
$noxious-primary-dark: darken($noxious-primary, 10%);
$noxious-tag-height: 50px !important;
$noxious-tag-padding: .5rem .45rem !important;
$noxious-tag-border-radius: 0 !important;
$noxious-container-border-bottom: none !important;

// this is the container's theme
$noxious-theme: (
    container-border-bottom: $noxious-container-border-bottom
);

// this is the tag's theme
$noxious-tag-theme: (
    background: $noxious-primary,
    background-focused: $noxious-primary-dark,
    background-active: $noxious-primary-dark,
    background-hover: $noxious-primary-dark,
    color: #fff,
    color-hover: #fff,
    min-height: $noxious-tag-height,
    padding: $noxious-tag-padding,
    border-radius: $noxious-tag-border-radius
);

// this is the delete icon's theme
$noxious-icon-theme: (
    fill: #fff,
    fill-focus: #eee,
    transition: all 0.35s
);

// apply theme to the container
::ng-deep tag-input .ng2-tag-input.noxious-theme {
    @include tag-input-theme($noxious-theme);
}

// apply theme to the tags
::ng-deep tag-input .ng2-tag-input.noxious-theme tag {
    @include tag-theme($noxious-tag-theme);
}

// apply theme to the delete icon
::ng-deep tag-input .ng2-tag-input.noxious-theme tag delete-icon {
    @include icon-theme($noxious-icon-theme);
}
