/*======================================
    Photo Gallery CSS
========================================*/
.photo-gallery {
    img {
        width: 100%;
        cursor: pointer;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1em 1em;
        margin-top: 1em;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in 1 forwards;
    }

}
