<tna-breadcrumb [pageTitle]="'Profile'" [currentLocation]="'Profile'" [pageDescription]="'Team Noxious basic user profile information'"></tna-breadcrumb>
<alert [isOpen]="alert.show" [type]="alert.type" [dismissOnTimeout]="alert.dismisOnTimeout" [dismissible]="true" (onClose)="closeAlert($event)">{{alert.content.title}}
  <span *ngIf="alert.useTemplate" [innerHtml]="alert.content.html"></span>
</alert>
<div class="container rounded bg-white mt-5 mb-5 pt-5" id="userProfile">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          [src]="currentUser?.avatar"
        /><span class="font-weight-bold">{{ currentUser?.username }}</span
        ><span class="text-black-50">{{ currentUser?.email }}</span
        ><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Basic Information</h4>
        </div>
        <form #profileForm="ngForm" name="profileForm" class="form">
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="form-group">
                <label class="labels">First Name</label
                ><input
                  [(ngModel)]="updateModel.firstname"
                  #firstname
                  type="text"
                  class="form-control"
                  placeholder="first name"
                  [value]="currentUser?.firstname"
                />

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="labels">Last Name</label
                ><input
                  [(ngModel)]="updateModel.lastname"
                  #lastname
                  type="text"
                  class="form-control"
                  [value]="currentUser?.lastname"
                  placeholder="surname"
                />

              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">

                <label class="labels">Username</label
                  ><input
                  [(ngModel)]="updateModel.lastname"
                  #username
                  type="text"
                  class="form-control"
                  [value]="currentUser?.username"
                  placeholder="Username"
                  />
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <label class="labels">Email <span class="text-muted">(Not Editable)</span></label
                  ><input
                  disabled
                    type="email"
                    class="form-control disabled"
                    [value]="currentUser?.email"
                    placeholder="you@email.com"
                  />

              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group">
                <label class="labels">Avatar</label>
                <tabset class="tab-pane">
                  <tab heading="Upload Avatar" id="tab1">
                    <input
                        [(ngModel)]="updateModel.avatar"
                        #avatar
                        type="file"
                        (change)="openFileService($event)"
                        class="form-control mt-1"
                        [value]="currentUser?.avatar"
                      />
                  </tab>
                  <tab heading="Paste Avatar URL">
                    <input
                        [(ngModel)]="updateModel.avatar"
                        #avatar
                        type="text"
                        class="form-control mt-1"
                        [value]="currentUser?.avatar"
                      />
                  </tab>
                </tabset>

              </div>
            </div>
            <div class="col-12">
              <div class="form-group button text-center mt-3">
                <button class="btn" type="button" (click)="update(currentUser?.idField, updateModel)" [disabled]="profileForm.errors">
                  Update Profile
                </button>

              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="p-3 py-5">
        <div
          class="d-flex justify-content-between align-items-center experience"
        >
          <span>Edit Experience</span
          ><span class="border px-3 p-1 add-experience"
            ><i class="fa fa-plus"></i>&nbsp;Experience</span
          >
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Experience in Designing</label
          ><input
            type="text"
            class="form-control"
            placeholder="experience"
            value=""
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Additional Details</label
          ><input
            type="text"
            class="form-control"
            placeholder="additional details"
            value=""
          />
        </div>
      </div>
    </div> -->
  </div>
</div>

