<!-- Start Header Area -->
<header class="header style2 navbar-area" id="top">
  <!-- Toolbar Start -->
  <div class="toolbar-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
          <div class="toolbar-social">
            <ul>
              <li><span class="title">Follow Us On : </span></li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-facebook-original"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-twitter-original"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-instagram"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><i class="lni lni-linkedin-original"></i
                ></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-google"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- TODO: Educator Login -->
        <!-- <div class="col-lg-4 col-md-6 col-12">
          <div class="toolbar-login">
            <div class="button" *ngIf="!(loggedIn | async)">
              <a routerLink="/registration">Create an Account</a>
              <a routerLink="/login" class="btn">Log In</a>
            </div>
            <div class="button" *ngIf="loggedIn | async">
              <a href="javascript:void(0)" (click)="signOut()">Sign Out</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" routerLink="/home">
              <span class="d-flex"
                ><img
                  src="assets/images/logo/logo.png"
                  alt="Logo"
                  class="img-fluid"
                />
                <h3>TEAM <b class="">NOX</b>IOUS</h3></span
              >
            </a>
            <button
              class="navbar-toggler mobile-menu-btn"
              type="button"
              (ngClick)="toggleMobileNav()"
              [ngClass]="showMobileMenu ? 'active' : ''"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse sub-menu-bar"
              id="navbarSupportedContent"
            >
              <ul id="nav" class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a
                    class="page-scroll dd-menu collapsed"
                    routerLink="/home"
                    routerLinkActive="active"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="page-scroll dd-menu collapsed"
                    routerLink="/courses"
                    routerLinkActive="active"
                    >Courses</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="page-scroll dd-menu collapsed"
                    routerLink="/teachers"
                    routerLinkActive="active"
                    >Teachers</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="page-scroll dd-menu collapsed"
                    routerLink="/about"
                    routerLinkActive="active"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/donate" routerLinkActive="active">Donate</a>
                </li>
                <li class="nav-item d-none d-xl-inline-block">
                  <a routerLink="/faq" routerLinkActive="active">FAQ</a>
                </li>
              </ul>
              <div *ngIf="loggedIn | async; else noAuth">
                <div
                  class="ms-3 btn-group"
                  dropdown
                  [placement]="'bottom left'"
                  id="userMenuDropdown"
                >
                  <button
                    id="userMenu"
                    dropdownToggle
                    type="button"
                    class="btn btn-link text-light dropdown-toggle"
                    aria-controls="dropdown-basic"
                    style="text-decoration: none"
                  >
                    <i class="lni lni-user"></i> <span class="caret"></span>
                  </button>
                  <ul
                    id="userMenuDropdown"
                    *dropdownMenu
                    class="dropdown-menu dropdown-menu-left"
                    role="menu"
                    aria-labelledby="userMenu"
                  >
                    <li role="menuitem">
                      <a class="dropdown-item" [routerLink]="['user', (loggedIn | async)?.uid, 'dashboard']"
                        >Dashboard</a
                      >
                    </li>
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        [routerLink]="['user', (loggedIn | async)?.uid, 'profile']"
                        >Profile</a
                      >
                    </li>
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        [routerLink]="['user', (loggedIn | async)?.uid, 'account']"
                        >Account</a
                      >
                    </li>
                    <li role="menuitem">
                      <a
                        class="dropdown-item"
                        [routerLink]="['user', (loggedIn | async)?.uid, 'courses']"
                        >Courses</a
                      >
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="signOut()">Sign Out</a>
                    </li>
                  </ul>
                </div>
              </div>
              <ng-template #noAuth>
                <div
                  class="ms-3 btn-group"
                  dropdown
                  [placement]="'bottom left'"
                  id="userMenuDropdown"
                >
                  <button
                    id="userMenu"
                    dropdownToggle
                    type="button"
                    class="btn btn-link text-light dropdown-toggle"
                    aria-controls="dropdown-basic"
                    style="text-decoration: none"
                  >
                    <i class="lni lni-user"></i> <span class="caret"></span>
                  </button>
                  <ul
                    id="userMenuDropdown"
                    *dropdownMenu
                    class="dropdown-menu dropdown-menu-left"
                    role="menu"
                    aria-labelledby="userMenu"
                  >
                    <li role="menuitem">
                      <a class="dropdown-item" [routerLink]="['login']"
                        >Login</a
                      >
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a class="dropdown-item" [routerLink]="['registration']"
                        >Create an Account</a
                      >
                    </li>
                  </ul>
                </div>
              </ng-template>
              <!-- <form class="d-xl-flex search-form d-none">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  <i class="lni lni-search-alt"></i>
                </button>
              </form> -->
            </div>
            <!-- navbar collapse -->
          </nav>
          <!-- navbar -->
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</header>
<!-- End Header Area -->

<router-outlet></router-outlet>

<!-- Start Footer Area -->
<footer class="footer style2">
  <!-- Start Middle Top -->
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <!-- Single Widget -->
          <div class="f-about single-footer">
            <div class="logo">
              <a routerLink="/home"
                ><img src="assets/images/logo/logo_2.png" alt="Logo"
              /></a>
            </div>
            <p>
              Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequ magni dolores eos qui ratione.
            </p>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="lni lni-facebook-original"></i
                  ></a>
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="lni lni-twitter-original"></i
                  ></a>
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="lni lni-linkedin-original"></i
                  ></a>
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="lni lni-google"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-8 col-md-8 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="single-footer sm-custom-border f-link">
                <h3>Legal Stuff</h3>
                <ul>
                  <li><a href="javascript:void(0)">Privacy Policy</a></li>
                  <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                  <li><a href="javascript:void(0)">Support Team</a></li>
                  <li><a href="javascript:void(0)">Our Advisors</a></li>
                  <li><a href="javascript:void(0)">Courses Policy</a></li>
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <!-- Single Widget -->
              <div class="single-footer sm-custom-border f-link">
                <h3>About Us</h3>
                <ul>
                  <li><a href="javascript:void(0)">Join Discord</a></li>
                  <li><a href="javascript:void(0)">Our Staff</a></li>
                  <li><a href="javascript:void(0)">Future Plans</a></li>
                  <li><a href="javascript:void(0)">Sponsors</a></li>
                  <li><a href="javascript:void(0)">Job Opportunities</a></li>
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <!-- Single Widget -->
              <div class="single-footer footer-newsletter">
                <h3>Newsletter</h3>
                <p>Subscribe to get updates on Team Noxious News, Courses, and more.</p>
                <form
                  target="_blank"
                  class="newsletter-form"
                >
                  <input
                    name="EMAIL"
                    placeholder="Your email address"
                    class="common-input"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Your email address'"
                    required=""
                    type="email"
                  />
                  <div class="button">
                    <button class="btn">Subscribe Now!</button>
                  </div>
                </form>
              </div>
              <!-- End Single Widget -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Middle -->
  <!-- Start Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-12">
            <div class="left">
              <p>
                Designed and Developed by<a
                  href="#"
                  rel="nofollow"
                  target="_blank"
                  >Team Noxious</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->

<!-- Preloader -->
<div class="preloader" *ngIf="loading">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- /End Preloader -->

<!-- ========================= scroll-top ========================= -->
<a (click)="scrollToTop()" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>
