<!-- Start Breadcrumbs -->
<tna-breadcrumb [imgSrc]="heroBackgroundImgSrc" [pageTitle]="'Our Teachers'" [currentLocation]="'teachers'" [pageDescription]="'Some basic dummy text'"></tna-breadcrumb>
<!-- End Breadcrumbs -->

<!-- Start Teachers -->
<section id="teachers" class="teachers section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title align-center gray-bg">
                    <span>Teachers</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Experienced Teachers</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
          <!-- TeacherProfileCard Component -->
          <tna-teacher-profile-card *ngFor="let teacher of teachers; let i=index" [teacher]="teacher" class="col-lg-6 col-md-6 col-12"></tna-teacher-profile-card>
          <!-- End TeacherProfileCard Component -->


        </div>
    </div>
</section>
<!--/ End Teachers Area -->

