<!-- Start Breadcrumbs -->
<tna-breadcrumb [pageTitle]="'Courses'" [currentLocation]="'Courses'" [pageDescription]="'This is some standard dummy text'"></tna-breadcrumb>
<!-- End Breadcrumbs -->

<!-- Start Events Area-->
<section class="courses section grid-page">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12" *ngFor="let course of coursesList; let i = index;">
              <!-- Start Single Course -->
              <div class="single-course wow fadeInUp" data-wow-delay=".2s">
                  <div class="course-image">
                      <a [routerLink]="['course-details', course.id]"><img src="https://via.placeholder.com/550x340"
                          alt="#"></a>
                      <p class="price">{{course.price}}</p>
                  </div>
                  <div class="content">
                      <h3><a [routerLink]="['course-details', course.id]">{{course.name | uppercase}}</a></h3>
                      <p>{{course.description}}</p>
                  </div>
                  <div class="bottom-content">
                      <ul class="review">
                          <li *ngFor="let star for 5"><i class="lni lni-star-filled"></i></li>
                          <!-- <li><i class="lni lni-star-filled"></i></li>
                          <li><i class="lni lni-star-filled"></i></li>
                          <li><i class="lni lni-star-filled"></i></li>
                          <li><i class="lni lni-star-filled"></i></li> -->
                          <li>22 Reviews</li>
                      </ul>
                      <span class="tag" *ngFor="let tag of course.tags; let i = index;" [hidden]="i > 0">
                          <i class="lni lni-tag"></i>
                          <!-- TODO: Create generated tag list page
                                     User can view available Course tags
                                     User is routed to appropriate page after selecting a tag -->
                          <a href="javascript:void(0)">{{tag}} &nbsp;</a>
                      </span>
                  </div>
              </div>
              <!-- End Single Course -->
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <!-- Pagination -->
              <div class="pagination center">
                  <ul class="pagination-list">
                      <li><a href="javascript:void(0)">Prev</a></li>
                      <li class="active"><a href="javascript:void(0)">1</a></li>
                      <li><a href="javascript:void(0)">2</a></li>
                      <li><a href="javascript:void(0)">3</a></li>
                      <li><a href="javascript:void(0)">4</a></li>
                      <li><a href="javascript:void(0)">Next</a></li>
                  </ul>
              </div>
              <!--/ End Pagination -->
          </div>
      </div>
  </div>
</section>
<!-- End Events Area-->
