<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <div class="nav-inner">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" routerLink="/home">
            <span class="d-flex"
              ><img
                src="assets/images/logo/logo.png"
                alt="Logo"
                class=""
              />
              <h3 class="d-none d-md-inline-block">TEAM <b class="">NOX</b>IOUS ACADEMY</h3>
            </span
            >
          </a>
          <button
            class="navbar-toggler mobile-menu-btn"
            type="button"
            (click)="toggleMobileNav()"
            [ngClass]="showMobileMenu ? 'active' : ''"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse sub-menu-bar animated fast"
            id="navbarSupportedContent" [ngClass]="showMobileMenu ? 'show slideInRight': ''"
          >
            <ul id="nav" class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="page-scroll dd-menu collapsed"
                  routerLink="/home"
                  routerLinkActive="active"
                  >Home</a
                >
              </li>
              <!-- <li class="nav-item">
                <a
                  class="page-scroll dd-menu collapsed"
                  routerLink="/courses"
                  routerLinkActive="active"
                  >Courses</a
                >
              </li> -->
              <li class="nav-item">
                <a
                  class="page-scroll dd-menu collapsed"
                  routerLink="/teachers"
                  routerLinkActive="active"
                  >Teachers</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="page-scroll dd-menu collapsed"
                  routerLink="/about"
                  routerLinkActive="active"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
              </li>
              <li class="nav-item">
                <a routerLink="/donate" routerLinkActive="active">Donate</a>
              </li>
              <li class="nav-item d-none d-xl-inline-block">
                <a routerLink="/faq" routerLinkActive="active">FAQ</a>
              </li>
            </ul>
            <!-- <div *ngIf="loggedIn | async; else noAuth">
              <div
                class="ms-3 btn-group"
                dropdown
                [placement]="'bottom left'"
                id="userMenuDropdown"
              >
                <button
                  id="userMenu"
                  dropdownToggle
                  type="button"
                  class="btn btn-link text-light dropdown-toggle"
                  aria-controls="dropdown-basic"
                  style="text-decoration: none"
                >
                  <i class="lni lni-user"></i> <span class="caret"></span>
                </button>
                <ul
                  id="userMenuDropdown"
                  *dropdownMenu
                  class="dropdown-menu dropdown-menu-left"
                  role="menu"
                  aria-labelledby="userMenu"
                >
                  <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['user', (loggedIn | async)?.uid, 'dashboard']"
                      >Dashboard</a
                    >
                  </li>
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      [routerLink]="['user', (loggedIn | async)?.uid, 'profile']"
                      >Profile</a
                    >
                  </li>
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      [routerLink]="['user', (loggedIn | async)?.uid, 'account']"
                      >Account</a
                    >
                  </li>
                  <li role="menuitem">
                    <a
                      class="dropdown-item"
                      [routerLink]="['user', (loggedIn | async)?.uid, 'courses']"
                      >Courses</a
                    >
                  </li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem">
                    <a class="dropdown-item" (click)="signOut()">Sign Out</a>
                  </li>
                </ul>
              </div>
            </div>
            <ng-template #noAuth>
              <div
                class="ms-3 btn-group"
                dropdown
                [placement]="'bottom left'"
                id="userMenuDropdown"
              >
                <button
                  id="userMenu"
                  dropdownToggle
                  type="button"
                  class="btn btn-link text-light dropdown-toggle"
                  aria-controls="dropdown-basic"
                  style="text-decoration: none"
                >
                  <i class="lni lni-user"></i> <span class="caret"></span>
                </button>
                <ul
                  id="userMenuDropdown"
                  *dropdownMenu
                  class="dropdown-menu dropdown-menu-left"
                  role="menu"
                  aria-labelledby="userMenu"
                >
                  <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['login']"
                      >Login</a
                    >
                  </li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem">
                    <a class="dropdown-item" [routerLink]="['registration']"
                      >Create an Account</a
                    >
                  </li>
                </ul>
              </div>
            </ng-template> -->
            <!-- <form class="d-xl-flex search-form d-none">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                <i class="lni lni-search-alt"></i>
              </button>
            </form> -->
          </div>
          <!-- navbar collapse -->
        </nav>
        <!-- navbar -->
      </div>
    </div>
  </div>
  <!-- row -->
</div>
