<div class="breadcrumbs overlay">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
              <div class="breadcrumbs-content">
                  <h1 class="page-title">{{pageTitle}}</h1>
                  <p>{{pageDescription}}</p>
              </div>
              <ul class="breadcrumb-nav">
                  <li><a routerLink="/home">Home</a></li>
                  <li>{{currentLocation}}</li>
              </ul>
          </div>
      </div>
  </div>
</div>
